@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #313131;
    --secondary-color: #f69906;
    --third-color: #9f9f9f;
    --fourth-color: #f6f6f6;
    --fifth-color: #000000;
}

body {
	width: 50%;
	margin: 0 auto;
    background-color: var(--fifth-color);
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.heading {
    margin: 1.6rem auto;
    color: var(--secondary-color);
    padding: 1rem 0;
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.holder{
	border-radius: 40px;
	width: 60%;
	margin: auto;
	box-shadow: rgba(107, 107, 109, 0.459) 0px 50px 100px -20px, rgba(0, 0, 0, 0.696) 0px 30px 60px -30px, rgba(133, 134, 135, 0.906) 0px -2px 6px 0px inset;
	/* background-color: var(--fourth-color); */
}

input {
	width: 95%;
    outline: 0;
    border: none;
    font-size: 4rem;
    text-align:right;
    padding: 10px 30px;
    margin: 20px auto 0;
    color: var(--fourth-color);
	border-radius: 40px;
    background-color: var(--fifth-color);
}

.content{
	margin: 1rem .6rem ;
	padding: 1rem 0;
}

.row{
	display: flex;
	flex-direction:row;
	justify-content: center;

}

button {
	width: 25%;
	margin:0.3rem;
    border: none;
    padding: 15px;
    font-size: 40px;
    border-radius: 50px;
    color: var(--fourth-color);
    background-color: var(--primary-color);
}

.operator{
	background-color: var(--secondary-color);
}

.special{
	width: 240px;
	text-align: left;
	padding-left: 40px;

}

.action{
	background-color: var(--third-color);
	color: var(--fifth-color);
}
	
footer{
	color:var(--third-color);
	margin-top: 2rem;
}
