@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #313131;
    --secondary-color: #f69906;
    --third-color: #9f9f9f;
    --fourth-color: #f6f6f6;
    --fifth-color: #000000;
}

body {
	width: 84%;
	margin: auto;
    background-color: var(--fifth-color);
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.heading {
    margin: 1.6rem auto;
    color: var(--secondary-color);
    padding: 1rem 0;
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.table-part {
	width: 38%;
    margin: 1rem auto 2rem;
    padding: 10px;
    border-radius: 3rem;
	border: 2px solid white;
}

input {
	width: 100%;
    padding: 10px 30px;
    border: none;
    background-color: var(--fifth-color);
    outline: 0;
    text-align:right;
    color: var(--fourth-color);
    font-size: 4rem;
    margin: 20px auto 5px;
}

.content{
	width: 100%;
	margin: auto;
}

td{
	width: 25%;
	text-align: center;
	padding: 5px;
	line-height: 1;
	border-spacing: none;
}

button {
	width: 100%;
    background-color: var(--primary-color);
    color: var(--fourth-color);
    padding: 15px;
    font-size: 40px;
    font-weight: 200;
    border-radius: 50px;
    border: none;
}

.operator{
	background-color: var(--secondary-color);
	/* width: 78px; */
}

.action{
	background-color: var(--third-color);
	color: var(--fifth-color);
}
	
footer{
	color:var(--third-color);
}